/* DO NOT ADD ANYTHING TO THIS FILE, USE COMPONENTS */
body {
  font-family: 'numFontl', 'ProximaNova-Semibold', 'DINPro-Regular', 'Microsoft Yahei', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  color: #555 !important;
  background-color: #fff;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

content {
  display: block;
  background: #F4F4F4;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: 'DINPro-Regular';
  margin: 0;
}

span, p {
  font-family: 'numFontl', 'ProximaNova-Semibold';
  margin: 0;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:active,
a:focus,
a:visited,
a:link {
  text-decoration: none;
}

button:focus {
  outline: none;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('/static/font/yang/1274151/0020eb30-c98c-4a76-aaa5-c39374f14534.eot?#iefix');
  src: url('/static/font/yang/1274151/0020eb30-c98c-4a76-aaa5-c39374f14534.eot?#iefix')
      format('eot'),
    url('/static/font/yang/1274151/781c5453-0067-4e64-9386-7c0726d63d57.woff2')
      format('woff2'),
    url('/static/font/yang/1274151/510df0e5-5b9f-4a1c-b46a-bcf1739bda43.woff')
      format('woff'),
    url('/static/font/yang/1274151/47e08118-5050-469b-a40c-dc3b2307e87e.ttf')
      format('truetype');
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('/static/font/yang/1274157/2e16962e-d63b-4e8e-a35c-dc7ba5faf6f6.eot?#iefix');
  src: url('/static/font/yang/1274157/2e16962e-d63b-4e8e-a35c-dc7ba5faf6f6.eot?#iefix')
      format('eot'),
    url('/static/font/yang/1274157/672e09ff-117f-47a9-ad39-2af9420ccb79.woff2')
      format('woff2'),
    url('/static/font/yang/1274157/db9d12b0-9307-4b1f-88bf-ebb676516c3b.woff')
      format('woff'),
    url('/static/font/yang/1274157/79d731fe-d29c-48b7-9312-f503ee13216f.ttf')
      format('truetype');
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url('/static/font/yang/5591091/1dfa81ab-94e1-4cb9-bc83-30dabb5fb370.eot?#iefix');
  src: url('/static/font/yang/5591091/1dfa81ab-94e1-4cb9-bc83-30dabb5fb370.eot?#iefix')
      format('eot'),
    url('/static/font/yang/5591091/15ac8e7f-c1e4-49e2-a4c5-70c5010a412b.woff2')
      format('woff2'),
    url('/static/font/yang/5591091/94f8db11-dda6-4917-bed9-c63403125d25.woff')
      format('woff'),
    url('/static/font/yang/5591091/8efd64f6-41bb-47a9-9be1-501af92ddc94.ttf')
      format('truetype');

}

@font-face {
  font-family: 'numFontl';    /* DINPro-Regular */
  src: url('/static/font/yang/5591091/1dfa81ab-94e1-4cb9-bc83-30dabb5fb370.eot?#iefix');
  src: url('/static/font/yang/5591091/1dfa81ab-94e1-4cb9-bc83-30dabb5fb370.eot?#iefix')
      format('eot'),
    url('/static/font/yang/5591091/15ac8e7f-c1e4-49e2-a4c5-70c5010a412b.woff2')
      format('woff2'),
    url('/static/font/yang/5591091/94f8db11-dda6-4917-bed9-c63403125d25.woff')
      format('woff'),
    url('/static/font/yang/5591091/8efd64f6-41bb-47a9-9be1-501af92ddc94.ttf')
      format('truetype');
  unicode-range: U+2B-3B, U+24-25; /* numbers & punc only - https://www.asciitable.com */
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('/static/font/yang/5591112/8d0b23f3-9240-42c0-9b24-a3d28b9ce530.eot?#iefix');
  src: url('/static/font/yang/5591112/8d0b23f3-9240-42c0-9b24-a3d28b9ce530.eot?#iefix')
      format('eot'),
    url('/static/font/yang/5591112/f63c956b-fd2e-4487-822e-f54970607191.woff2')
      format('woff2'),
    url('/static/font/yang/5591112/6246b724-84e1-4987-bfb2-c4edea716d4a.woff')
      format('woff'),
    url('/static/font/yang/5591112/db0f38f2-4808-4bda-889f-99f24e515245.ttf')
      format('truetype');
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('/static/font/yang/5591157/8394db03-daad-43ae-852f-0f836f93809a.eot?#iefix');
  src: url('/static/font/yang/5591157/8394db03-daad-43ae-852f-0f836f93809a.eot?#iefix')
      format('eot'),
    url('/static/font/yang/5591157/010a8a45-b837-443a-a642-4a5131349ffd.woff2')
      format('woff2'),
    url('/static/font/yang/5591157/4452d3a9-f715-4379-bb9b-7845de847c23.woff')
      format('woff'),
    url('/static/font/yang/5591157/156d8e3d-30ab-45f2-b6fc-d9d3dc33bdaa.ttf')
      format('truetype');
}

@font-face {
    font-family: 'iconfont';
    src: url('/static/font/iconfont.eot'); /* IE9*/
    src: url('/static/font/iconfont.eot') format('embedded-opentype'),
        url('/static/font/iconfont.woff') format('woff'),
        url('/static/font/iconfont.ttf') format('truetype'),
        url('/static/font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-in:before {
  content: "\E727";
}

.icon-facebook-B:before {
  content: "\E634";
}

.icon-weibo-B:before {
  content: "\E641";
}

.icon-steemit-B:before {
  content: "\E642";
}

.icon-instagram-B:before {
  content: "\E64C";
}

.icon-medium-B:before {
  content: "\E64E";
}

.icon-wenhao:before {
  content: "\E654";
}

.icon-touxiang:before {
  content: "\E659";
}

.icon-shixindiqiu:before {
  content: "\E66C";
}

.icon-success:before {
  content: "\E620";
}

.icon-fail:before {
  content: "\E622";
}

.icon-telegram-B1:before {
  content: "\E67F";
}

.icon-twitter-B1:before {
  content: "\E683";
}

.icon-B:before {
  content: "\E68A";
}

.icon-reddit-B:before {
  content: "\E646";
}

.icon-academyfill:before {
  content: "\E693";
}

.icon-Overview:before {
  content: "\E696";
}

.icon-jiugongge:before {
  content: "\E699";
}

.icon-labs-A2:before {
  content: "\E698";
}

.icon-info-B2:before {
  content: "\E6A1";
}

.icon-launchpad-B2:before {
  content: "\E6A6";
}

.icon-trustwallet-B1:before {
  content: "\E6A3";
}

.icon-charity-B2:before {
  content: "\E6A8";
}

.icon-BinanceLaunchpad:before {
  content: "\E6BD";
}

.icon-writepaper:before {
  content: "\E6CD";
}

.icon-blog:before {
  content: "\E61D";
}

.icon-web:before {
  content: "\E61E";
}

.icon-twitter:before {
  content: "\E61F";
}

.icon-telegram:before {
  content: "\E621";
}

.icon-Research-B1:before {
  content: "\E623";
}

.icon-ri:before {
  content: "\E624";
}

.icon-warn:before {
  content: "\E625";
}

.icon-m:before {
  content: "\E626";
}

.icon-weibo-B1:before {
  content: "\E627";
}


/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: white;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*# sourceMappingURL=commons.20c42537.chunk.css.map*/